# configuration options of scripts daemon.sh, assemple_and_compress.sh

IMGS2VIDEO=`dirname $0`/imgs2video
I2V_OPTS= # arbitrary options for imgs2video command
FFMPEG=ffmpeg
BITRATE=2000000
TWOPASS=false
OFMT=flv # output format

IMGSDIR=`pwd`/imgs_by_hour_dir
VIDEODIR=`pwd`/video_hours
DAILY_VIDEO_DIR=`pwd`/video_days
SAVE_IMGS_DAYS=1
SAVE_VIDEO_HOURS_DAYS=1
DAYFILE=`pwd`/last_day #prefix without extension
URL='http://upload.wikimedia.org/wikipedia/commons/1/1e/Stonehenge.jpg'

AFTER_GET_IMAGE_HOOK='sleep 0'
