# configuration options of scripts daemon.sh, assemple_and_compress.sh

NAME=webcam1
BASEPATH=`pwd`

IMGS2VIDEO=`dirname $0`/imgs2video
I2V_OPTS= # arbitrary options for imgs2video command
FFMPEG=ffmpeg
export LD_LIBRARY_PATH= # you can set path to non-system-wide libav installation
BITRATE=2000000
TWOPASS=false
OFMT=flv # output format

IMGSDIR=$BASEPATH/$NAME/imgs_by_hour_dir
VIDEODIR=$BASEPATH/$NAME/video_hours
DAILY_VIDEO_DIR=$BASEPATH/$NAME/video_days
SAVE_IMGS_DAYS=1
SAVE_VIDEO_HOURS_DAYS=1
SAVE_VIDEO_DAYS_DAYS=3
DAYFILE=$BASEPATH/$NAME/last_day #prefix without extension
URL='http://www.wirednewyork.com/images/webcams/wired-new-york-webcam4.jpg'
# one more nice URL: http://www.wirednewyork.com/images/webcams/wired-new-york-webcam3.jpg

AFTER_GET_IMAGE_HOOK='sleep 0'
